.no-highlight {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box-shadow {
  -webkit-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
  box-shadow: 6px 6px 3px 0px rgba(0,0,0,0.75);
}

button {
  background-color: white;
  color: grey;
  transition: .5s;
  font-size: .8em;
  padding: 5px; 
  border-radius: 5px;
  border: 2px solid grey;

}

button:hover {
  cursor: pointer;
  background-color: goldenrod;
  color: white;
  border: 2px solid goldenrod;
  padding: 5px; 
  border-radius: 5px;
}

.scroll {
  overflow: visible;
  overflow: auto
}